$main-color: #0ff

/* tabs */
.tabs-content li
  display: none
  list-style: none

.tabs-content li.is-active
  display: block

.has-text-orbitron
  font-family: 'Orbitron'

.tabs a, .tabs ul
  border-bottom-color: $main-color

/* modals */

.modal-card-head
  border-bottom: $main-color

.modal-card-foot
  border-top: $main-color

/* cards */

.card
  border-color: $main-color

.card-footer-item:not(:last-child)
  border-right-color: $main-color

.card-footer
  border-top-color: $main-color

/* sticky footer */

html, body
  height: 100%

body
  display: flex
  flex-direction: column

section.section
  flex: 1 0 auto

.footer
  flex-shrink: 0

/* images */

img
  object-fit: cover

/* boxes */

.box
  border-color: $main-color

/* media */

.media + .media
  border-color: $main-color

.media-left .image
  display: flex

.media-left .image > img
  object-fit: contain

/* mdeals for sponsors */
.medal
  margin: auto

/*********
 * glitch
 * inspired by https://codepen.io/anon/pen/MLdXZR
 ********/

@font-face
  font-family: 'Orbitron'
  font-style: normal
  src: url('../fonts/orbitron-medium.otf')

.glitch-container
  display: grid
  place-items: center
  font-size: 10px
  .glitch
    color: #fff
    font-size: 10em
    position: relative
    font-family: 'Orbitron'
    font-weight: 700
    &:before, &:after
      content: 'RTFM'
      position: absolute
      top: 0
      left: 0
      right: 0
      overflow: hidden
      color: #fff
    &:before
      left: 8px
      text-shadow: 2px 0 #00ffea
      animation: glitch 3s infinite linear
    &:after
      left: 8px
      text-shadow: -2px 0 #fe3a7f
      animation: glitch 2s infinite linear

//@function random_interval($min, $max)
//  @return floor(random()*($max - $min + 1) + $min)

// keyframes mixin
=keyframes($name)
  @-o-keyframes #{$name}
    @content
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

+keyframes(glitch)
  0%
    clip: rect(37px, 9999px, 91px, 0)
  5%
    clip: rect(41px, 9999px, 45px, 0)
  10%
    clip: rect(46px, 9999px, 53px, 0)
  15%
    clip: rect(85px, 9999px, 6px, 0)
  20%
    clip: rect(71px, 9999px, 47px, 0)
  25%
    clip: rect(28px, 9999px, 58px, 0)
  30%
    clip: rect(25px, 9999px, 87px, 0)
  35%
    clip: rect(75px, 9999px, 25px, 0)
  40%
    clip: rect(38px, 9999px, 74px, 0)
  45%
    clip: rect(14px, 9999px, 78px, 0)
  50%
    clip: rect(55px, 9999px, 100px, 0)
  55%
    clip: rect(45px, 9999px, 14px, 0)
  60%
    clip: rect(43px, 9999px, 53px, 0)
  65%
    clip: rect(76px, 9999px, 48px, 0)
  70%
    clip: rect(95px, 9999px, 38px, 0)
  75%
    clip: rect(91px, 9999px, 53px, 0)
  80%
    clip: rect(48px, 9999px, 93px, 0)
  85%
    clip: rect(63px, 9999px, 49px, 0)
  90%
    clip: rect(70px, 9999px, 31px, 0)
  95%
    clip: rect(57px, 9999px, 30px, 0)
  100%
    clip: rect(34px, 9999px, 29px, 0)

//@keyframes glitch /* @keyframes + @-webkit-keyframes */
//  @for $i from 0 to 20
//    #{5 * $i}%
//      clip: rect(random_interval($i, 100)px, 9999px, random_interval($i, 100)px, 0)

/**********************
 * Animated background
 *********************/

canvas
  display: block
  vertical-align: bottom

#particles-js
  position: absolute
  background-repeat: no-repeat
  background-size: cover
  background-position: 50% 50%
  width: 100%
  height: 100%
