doctype html
html lang="en"
  head
    = partial :head

  body
    div.is-hidden-mobile#particles-js
    section.hero
      = partial :menu
    section.hero.is-fullheight-with-navbar
      = yield
    = javascript_include_tag "particlesjs"
    = javascript_include_tag "animated-background"
