doctype html
html lang="en"
  head
    title = current_page.data.title + " | RTFM" || "RTFM"

    meta charset="utf-8"
    meta name="description" content="Site officiel de l'association Read The Fancy Manual (RTFM), communauté promouvant la pratique du hacking sous toutes ses formes"
    meta name="author" content="Alexandre ZANNI"
    meta name="viewport" content="width=device-width, initial-scale=1"

    = favicon_tag "images/favicon.ico"

  body
    section.section
      .container
        = yield
