footer.footer
  .container
    nav.level
      .level-item.has-text-centered
        .content
          p
            | Made with 
            span.icon.has-text-danger
              i.fas.fa-heart
            |  by 
            a href="https://pwn.by/noraj/" target='_blank' rel='noopener noreferrer' noraj
          p
            | and hosted on 
            span.icon.has-text-warning
              i.fab.fa-gitlab
            a href="https://gitlab.com/noraj/rtfm-website" target='_blank' rel='noopener noreferrer' GitLab
      .level-item.has-text-centered
        .content
          p © #{Date.today.year} Read The Fancy Manual
      .level-item.has-text-centered
        .content
          figure.image.is-128x128
            = image_tag 'images/rtfm2.png', alt: 'RTFM logo'
      .level-item.has-text-centered
        div.content
          p.heading social / contact
          p.buttons
            a.button.is-link.is-outlined href=data.social.twitter target='_blank' rel='noopener noreferrer'
              span.icon
                i.fab.fa-twitter
            a.button.is-link.is-outlined href=data.social.discord target='_blank' rel='noopener noreferrer'
              span.icon
                i.fab.fa-discord
            a.button.is-link.is-outlined href=data.social.irc target='_blank' rel='noopener noreferrer'
              span.icon
                i.fas.fa-circle
            a.button.is-link.is-outlined href=data.social.youtube target='_blank' rel='noopener noreferrer'
              span.icon
                i.fab.fa-youtube
            a.button.is-link.is-outlined href=data.social.email target='_blank' rel='noopener noreferrer'
              span.icon
                i.fas.fa-envelope
