title = current_page.data.title + " | RTFM" || "RTFM"

meta charset="utf-8"
meta name="description" content="Site officiel de l'association Read The Fancy Manual (RTFM), communauté promouvant la pratique du hacking sous toutes ses formes"
meta name="author" content="Alexandre ZANNI"
meta name="viewport" content="width=device-width, initial-scale=1"

= favicon_tag "images/favicon.ico"

= stylesheet_link_tag :bulmaswatch
= stylesheet_link_tag :site
link href="/stylesheets/fontawesome/css/all.css" rel="stylesheet"
= javascript_include_tag :tabs
= javascript_include_tag :navbar
= javascript_include_tag :modal
