- cl = "#{t(:lang)[:current]}"
.hero-head
  nav.navbar role='navigation' aria-label='main navigation'
    .container
      .navbar-brand
        = link_to "/#{cl}/", class: 'navbar-item' do
          = image_tag 'images/rtfm2.png', alt: 'RTFM logo'
        span.navbar-item.has-text-link.has-text-orbitron
          | RTFM
        a.navbar-burger role="button" aria-label="menu" aria-expanded="false"
          span aria-hidden="true"
          span aria-hidden="true"
          span aria-hidden="true"
      .navbar-menu
        .navbar-end.is-capitalized.has-text-orbitron
          = link_to "/#{cl}/", class: 'navbar-item' do
            span #{t(:menu)[:home]}
          = link_to "/#{cl}/what-do-we-do", class: 'navbar-item' do
            span #{t(:menu)[:wdwd][:wdwd]}
          = link_to "/#{cl}/videos", class: 'navbar-item' do
            span #{t(:menu)[:video]}
          = link_to "/#{cl}/who-are-we", class: 'navbar-item' do
            span #{t(:menu)[:waw][:waw]}
          = link_to "/#{cl}/about", class: 'navbar-item' do
            span #{t(:menu)[:about]}
          = link_to "/#{cl}/sponsors", class: 'navbar-item' do
            span #{t(:menu)[:sponsors]}
          //= link_to "/#{cl}/contact", class: 'navbar-item' do
            span #{t(:menu)[:contact]}
          = link_to "/#{t(:lang)[:switch_to]}/", class: 'navbar-item' do
            figure.image.is-16x16
              = image_tag "images/langs/#{t(:lang)[:switch_to]}.png", alt: 'Country flag'

