---
layout: "layout"
title: "About"
---
section.hero.is-light
  .hero-body
    h1.title.is-1.has-text-centered.is-capitalized#sigsegv #{t(:menu)[:about]}

section.hero.is-light
  .hero-body
    .container
      .tile.is-ancestor
        .tile.is-parent
          .tile.has-text-black.has-background-white.is-child.box
            .content
              p = t(:about)[:description][0]
              .tags
                a.tag.is-link href=data.about.association.announcement #{t(:about)[:announcement]}
                a.tag.is-link href=data.about.association.pdf PDF
              p = t(:about)[:description][1]
              p = t(:about)[:description][2]
              .columns.is-multiline
                - data.about.skills.each_with_index do |skill, i|
                  .column.is-one-third
                    article.media
                      figure.image.media-left.is-128x128
                        = image_tag "images/about/skills/#{skill}", class: 'is-rounded'
                      .media-content
                        p.subtitle.is-6 = t(:about)[:skills][i]
      .content
        p
          | Powered by 
          a href="https://bulmajs.tomerbe.co.uk/" target='_blank' rel='noopener noreferrer' BulmaJS
          | , 
          span.icon
            img src="https://jenil.github.io/bulmaswatch/assets/icons/favicon-16x16.png"
          a href="https://jenil.github.io/bulmaswatch/" target='_blank' rel='noopener noreferrer' Bulmaswatch
          | , 
          span.icon
            i.fab.fa-font-awesome
          a href="https://fontawesome.com/" target='_blank' rel='noopener noreferrer' Font Awesome
          | , 
          span.icon
            i.fab.fa-gulp
          a href="https://gulpjs.com/" target='_blank' rel='noopener noreferrer' Gulp
          | , 
          span.icon
            span.icon.is-small
              img src="https://middlemanapp.com/favicon.ico"
          a href="https://middlemanapp.com/" target='_blank' rel='noopener noreferrer' Middleman
          | , 
          span.icon
            span.icon.is-small
              img src="https://vincentgarreau.com/assets/img/favicon.ico"
          a href="https://vincentgarreau.com/particles.js/" target='_blank' rel='noopener noreferrer' particles.js
          | , 
          a href="http://slim-lang.com/" target='_blank' rel='noopener noreferrer' Slim
