---
layout: "home"
title: Home
---
.hero-body.is-block.is-flex-mobile.is-flex-tablet-only.is-flex-desktop-only.is-flex-widescreen-only
  div
    .columns
      .column.is-one-third.is-offset-one-third
        .container
          figure.image.is-fullwidth
            = image_tag 'images/rtfm2_2000x2000.png', alt: 'RTFM logo'
          .glitch-container
            h1.glitch RTFM
