---
layout: "layout"
title: Sponsors
---
h1.title.is-1.has-text-centered.is-capitalized#sponsors #{t(:menu)[:sponsors]}

.columns.is-centered
  .column.has-text-centered
    .tabs-wrapper
      .tabs.is-centered
        ul
          li.is-active
            a 
              span.icon.is-small
                i.fas.fa-film aria-hidden="true"
              span SIGSEGV2
          li
            a
              span.icon.is-small
                i.fas.fa-film aria-hidden="true"
              span SIGSEGV1
      .tabs-content
        ul
          li.is-active
            figure.image.is-128x128.medal
              = image_tag "images/sponsors/medals_silver.png"
            - data.sponsors.sigsegv2.silver.each_with_index do |sp, i|
              article.media
                figure.media-left.has-background-dark
                  a href=sp.link
                    p.image.is-128x128
                      = image_tag "images/sponsors/#{sp.logo}"
                .media-content
                  .content
                    - t(:sponsors)[:sigsegv2][:silver][i].each do |par|
                      p = par
            figure.image.is-128x128.medal
              = image_tag "images/sponsors/medals_bronze.png"
            - data.sponsors.sigsegv2.bronze.each_with_index do |sp, i|
              article.media
                figure.media-left.has-background-dark
                  a href=sp.link
                    p.image.is-128x128
                      = image_tag "images/sponsors/#{sp.logo}"
                .media-content
                  .content
                    - t(:sponsors)[:sigsegv2][:bronze][i].each do |par|
                      p = par
            h2.title.is-2.has-text-centered.is-capitalized#partnerv2 #{t(:sponsors)[:partnerv2]}
            - data.sponsors.sigsegv2.partner.each_with_index do |sp, i|
              article.media
                figure.media-left.has-background-dark
                  a href=sp.link
                    p.image.is-128x128
                      = image_tag "images/sponsors/#{sp.logo}"
                .media-content
                  .content
                    - t(:sponsors)[:sigsegv2][:partner][i].each do |par|
                      p = par
          li
            figure.image.is-128x128.medal
              = image_tag "images/sponsors/medals_gold.png"
            - data.sponsors.sigsegv1.gold.each_with_index do |sp, i|
              article.media
                figure.media-left.has-background-dark
                  a href=sp.link
                    p.image.is-128x128
                      = image_tag "images/sponsors/#{sp.logo}"
                .media-content
                  .content
                    - t(:sponsors)[:sigsegv1][:gold][i].each do |par|
                      p = par
            figure.image.is-128x128.medal
              = image_tag "images/sponsors/medals_silver.png"
            - data.sponsors.sigsegv1.silver.each_with_index do |sp, i|
              article.media
                figure.media-left.has-background-dark
                  a href=sp.link
                    p.image.is-128x128
                      = image_tag "images/sponsors/#{sp.logo}"
                .media-content
                  .content
                    - t(:sponsors)[:sigsegv1][:silver][i].each do |par|
                      p = par
            figure.image.is-128x128.medal
              = image_tag "images/sponsors/medals_bronze.png"
            - data.sponsors.sigsegv1.bronze.each_with_index do |sp, i|
              article.media
                figure.media-left.has-background-dark
                  a href=sp.link
                    p.image.is-128x128
                      = image_tag "images/sponsors/#{sp.logo}"
                .media-content
                  .content
                    - t(:sponsors)[:sigsegv1][:bronze][i].each do |par|
                      p = par
            h2.title.is-2.has-text-centered.is-capitalized#partnerv1 #{t(:sponsors)[:partnerv1]}
            - data.sponsors.sigsegv1.partner.each_with_index do |sp, i|
              article.media
                figure.media-left.has-background-dark
                  a href=sp.link
                    p.image.is-128x128
                      = image_tag "images/sponsors/#{sp.logo}"
                .media-content
                  .content
                    - t(:sponsors)[:sigsegv1][:partner][i].each do |par|
                      p = par
