---
layout: "layout"
title: Videos
---
h1.title.is-1.has-text-centered.is-capitalized#videos #{t(:menu)[:video]}

.columns.is-centered
  .column.has-text-centered
    .tabs-wrapper
      .tabs.is-centered
        ul
          li.is-active
            a
              span.icon.is-small
                i.fas.fa-film aria-hidden="true"
              span SIGSEGV1
          li
            a 
              span.icon.is-small
                i.fas.fa-film aria-hidden="true"
              span SIGSEGV2
      .tabs-content
        ul
          li.is-active
            nav.panel.is-light
              p.panel-heading.is-capitalized #{t(:videos)[:toc]}
              - data.planning.sigsegv1.talks.each do |t|
                - if t['id']
                  a.panel-block href="##{t['id']}"
                    span.panel-icon
                      i.fas.fa-film aria-hidden="true"
                    | #{t['title']} -
                    span.has-text-link #{t['speaker']}
            .columns.is-multiline
              - data.planning.sigsegv1.talks.each do |t|
                - if t['id']
                  .column.is-half id=t['id']
                    iframe src="https://www.youtube.com/embed/#{t['id']}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" width="100%" height="350vh" frameborder="0"
          li
            p No video available.

