---
layout: "full"
title: "What do we do?"
---
- cl = "#{t(:lang)[:current]}"

section.hero.is-light
  .hero-body
    h1.title.is-1.has-text-centered.is-capitalized#wdwd #{t(:menu)[:wdwd][:wdwd]}

section.hero.is-light
  .hero-body
    h2.title.is-2.has-text-centered.is-capitalized#sigsegv #{t(:menu)[:wdwd][:sigsegv]}
    .container
      .tile.is-ancestor
        .tile.is-parent
          .tile.has-text-black.has-background-white.is-child.box
            p.title.has-text-centered #{t(:wdwd)[:sigsegv][:title1]}
            .content
              - t(:wdwd)[:sigsegv][:description1].each do |par|
                p #{par}
        .tile.is-parent
          .tile.has-text-black.has-background-white.is-child.box
            p.title.has-text-centered #{t(:wdwd)[:sigsegv][:title2]}
            .content
              - t(:wdwd)[:sigsegv][:description2].each do |par|
                p #{par}
        .tile.is-parent
          .tile.has-text-black.has-background-white.is-child.box
            p.title.has-text-centered #{t(:wdwd)[:sigsegv][:title3]}
            .content
              - t(:wdwd)[:sigsegv][:description3].each do |par|
                p #{par}
      .tile.is-ancestor
        .tile.is-parent.is-8
          .tile.has-text-black.has-background-white.is-child.box
            p.title.has-text-centered #{t(:wdwd)[:sigsegv][:title5]}
            figure.image.is-fullwidth
              = image_tag 'images/sigsegv/v2/planning_conf.jpg', alt: 'planning'
        .tile.is-parent
          .tile.has-text-black.has-background-white.is-child.box
            p.title.has-text-centered #{t(:wdwd)[:sigsegv][:title4]}
            h5.title.is-5.has-text-centered.has-text-link SIGSEGV1 (2018)
            .content
              .buttons
                button.button.is-link#btn-modal-sigsegv1 #{t(:wdwd)[:sigsegv][:title5]}
                = link_to t(:menu)[:video], "/#{cl}/videos", class: 'button is-link'
                = link_to t(:menu)[:sponsors], "/#{cl}/sponsors", class: 'button is-link'
            .modal.is-link#modal-sigsegv1
              .modal-background
              .modal-card
                header.modal-card-head
                  p.modal-card-title SIGSEGV1
                  button.delete aria-label="close"
                section.modal-card-body
                  .content
                    h4.title.is-4.has-text-centered.has-text-primary #{t(:wdwd)[:sigsegv][:title5]}
                    table.table
                      tbody
                        - data.planning.sigsegv1.talks.each do |t|
                          tr
                            td #{t['time']}
                            td #{t['title']}
                            td #{t['speaker']}
            javascript:
              document.querySelector('#btn-modal-sigsegv1').addEventListener('click', function(e) {
                  var modalTwo = Bulma('#modal-sigsegv1').modal();
                  modalTwo.open();
              });

section.hero.is-light
  .hero-body
    h2.title.is-2.has-text-centered.is-capitalized#meets #{t(:menu)[:wdwd][:meets]}
    .container
      .tile.is-ancestor
        .tile.is-parent
          .tile.has-text-black.has-background-white.is-child.box
            .content
              - t(:wdwd)[:meets][:description].each do |par|
                p #{par}
