---
layout: "layout"
title: "Who are we?"
---
section.hero.is-light
  .hero-body
    h1.title.is-1.has-text-centered.is-capitalized#waw #{t(:menu)[:waw][:waw]}

section.hero.is-light
  .hero-body
    h2.title.is-2.has-text-centered.is-capitalized#staff #{t(:menu)[:waw][:staff][:staff]}
    h3.title.is-3.has-text-centered.is-capitalized#members #{t(:menu)[:waw][:staff][:members]}
    .columns.is-multiline
      - data.staff.members.current.each do |mem|
        .column.is-one-quarter
          .card
            .card-image.has-background-black
              figure.image.is-1by1
                = image_tag "images/staff/#{mem.image}"
            .card-content
              span.has-text-weight-bold.has-text-link #{mem.pseudo}
              span  - 
              span.is-italic #{mem.motto}
            footer.card-footer
              a.card-footer-item href=mem.website
                - if mem.website
                  span.icon.is-medium
                    i.fas.fa-globe
                - else
                  span.icon.is-medium.has-text-grey-lighter
                    i.fas.fa-globe
              a.card-footer-item href=mem.blog
                - if mem.blog
                  span.icon.is-medium
                    i.fas.fa-blog
                - else
                  span.icon.is-medium.has-text-grey-lighter
                    i.fas.fa-blog
              a.card-footer-item href=mem.twitter
                - if mem.twitter
                  span.icon.is-medium
                    i.fab.fa-twitter
                - else
                  span.icon.is-medium.has-text-grey-lighter
                    i.fab.fa-twitter
              a.card-footer-item href=mem.github
                - if mem.github
                  span.icon.is-medium
                    i.fab.fa-github
                - else
                  span.icon.is-medium.has-text-grey-lighter
                    i.fab.fa-github
              a.card-footer-item href=mem.gitlab
                - if mem.gitlab
                  span.icon.is-medium
                    i.fab.fa-gitlab
                - else
                  span.icon.is-medium.has-text-grey-lighter
                    i.fab.fa-gitlab
            footer.card-footer
              a.card-footer-item href=mem.discord
                - if mem.discord
                  span.icon.is-medium
                    i.fab.fa-discord
                - else
                  span.icon.is-medium.has-text-grey-lighter
                    i.fab.fa-discord
              a.card-footer-item href=mem.reddit
                - if mem.reddit
                  span.icon.is-medium
                    i.fab.fa-reddit
                - else
                  span.icon.is-medium.has-text-grey-lighter
                    i.fab.fa-reddit
              a.card-footer-item href=mem.keybase
                - if mem.keybase
                  span.icon.is-medium
                    i.fab.fa-keybase
                - else
                  span.icon.is-medium.has-text-grey-lighter
                    i.fab.fa-keybase
              a.card-footer-item href=mem.exploitdb
                - if mem.exploitdb
                  span.icon.is-medium
                    i.fas.fa-bug
                - else
                  span.icon.is-medium.has-text-grey-lighter
                    i.fas.fa-bug
              a.card-footer-item href=mem.packetstorm
                - if mem.packetstorm
                  span.icon.is-medium
                    i.fas.fa-bolt
                - else
                  span.icon.is-medium.has-text-grey-lighter
                    i.fas.fa-bolt
    h3.title.is-3.has-text-centered.is-capitalized#oldmembers #{t(:menu)[:waw][:staff][:oldmembers]}
    .columns.is-multiline
      - data.staff.members.old.each do |mem|
        .column.is-one-quarter
          .card
            .card-image.has-background-black
              figure.image.is-1by1
                = image_tag "images/staff/#{mem.image}"
            .card-content
              span.has-text-weight-bold.has-text-link #{mem.pseudo}
              span  - 
              span.is-italic #{mem.motto}
            footer.card-footer
              a.card-footer-item href=mem.website
                - if mem.website
                  span.icon.is-medium
                    i.fas.fa-globe
                - else
                  span.icon.is-medium.has-text-grey-lighter
                    i.fas.fa-globe
              a.card-footer-item href=mem.blog
                - if mem.blog
                  span.icon.is-medium
                    i.fas.fa-blog
                - else
                  span.icon.is-medium.has-text-grey-lighter
                    i.fas.fa-blog
              a.card-footer-item href=mem.twitter
                - if mem.twitter
                  span.icon.is-medium
                    i.fab.fa-twitter
                - else
                  span.icon.is-medium.has-text-grey-lighter
                    i.fab.fa-twitter
              a.card-footer-item href=mem.github
                - if mem.github
                  span.icon.is-medium
                    i.fab.fa-github
                - else
                  span.icon.is-medium.has-text-grey-lighter
                    i.fab.fa-github
              a.card-footer-item href=mem.gitlab
                - if mem.gitlab
                  span.icon.is-medium
                    i.fab.fa-gitlab
                - else
                  span.icon.is-medium.has-text-grey-lighter
                    i.fab.fa-gitlab
            footer.card-footer
              a.card-footer-item href=mem.discord
                - if mem.discord
                  span.icon.is-medium
                    i.fab.fa-discord
                - else
                  span.icon.is-medium.has-text-grey-lighter
                    i.fab.fa-discord
              a.card-footer-item href=mem.reddit
                - if mem.reddit
                  span.icon.is-medium
                    i.fab.fa-reddit
                - else
                  span.icon.is-medium.has-text-grey-lighter
                    i.fab.fa-reddit
              a.card-footer-item href=mem.keybase
                - if mem.keybase
                  span.icon.is-medium
                    i.fab.fa-keybase
                - else
                  span.icon.is-medium.has-text-grey-lighter
                    i.fab.fa-keybase
              a.card-footer-item href=mem.exploitdb
                - if mem.exploitdb
                  span.icon.is-medium
                    i.fas.fa-bug
                - else
                  span.icon.is-medium.has-text-grey-lighter
                    i.fas.fa-bug
              a.card-footer-item href=mem.packetstorm
                - if mem.packetstorm
                  span.icon.is-medium
                    i.fas.fa-bolt
                - else
                  span.icon.is-medium.has-text-grey-lighter
                    i.fas.fa-bolt

section.hero.is-light
  .hero-body
    h2.title.is-2.has-text-centered.is-capitalized#meets #{t(:menu)[:waw][:volunteers]}
    .container
      .tile.is-ancestor
        .tile.is-parent
          .tile.has-text-black.has-background-white.is-child.box
            .content
              p = t(:waw)[:volunteers][:description]
              .columns.is-multiline
                .column
                  h3.title.is-3.has-text-centered.is-capitalized#sigsegv2 SIGSEGV2
                  .tags
                    - data.staff.volunteers.v2.each do |vol|
                      a.tag.is-link href=vol.link #{vol.pseudo}
                .column
                  h3.title.is-3.has-text-centered.is-capitalized#sigsegv1 SIGSEGV1
                  .tags
                    - data.staff.volunteers.v1.each do |vol|
                      a.tag.is-link href=vol.link #{vol.pseudo}
